body {
    text-align: center;
    font-family: sans-serif;
}
span {
    display: inline-block;
    padding: 50px;
}
span:hover {
    transform: scale(1.2, 1.2);
}
img {
    height: 400px;
}

span div.description {
    display: none;
}
span:hover div.description {
    display: block;
}
p {
    max-width: 400px;
}
